.wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-container {
  display: flex;
  width: 550px;
  padding: 1rem;
  justify-content: space-around;

}

.camera-item > h2 {
  text-align: center;
}

.camera-item > video {
  border: 1px solid red;
  width: 250px;
  height: 188px;
}

button, a {
  border: none;
  font-size: 14px;
  background: #ccc;
  padding: 0.5rem 1rem;
  cursor: pointer;
}



.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}